
#json-room-map {
  border: 1px solid black;
  position: relative;
}

#json-room-map-image {
  padding-left:5px;
  margin-left:5px;
}

#json-room-map-image-file {
  width:335px;
  height:1155px;
}

#deck-rooms {
}

.room-item {
    color: white;
    border: 0px;
    font-size: 11px;
    position: absolute;
    opacity: 0.5;
    text-align: center;
}

.shape-box {
    background-color: blue;
}

.shape-pill {
  background-color:red;
}

.form-item-field-room-json-data-0-value {
    float: right;
    min-width: 650px;
}


#json-image-section{
  min-width:350px;
}

#edit-field-room-json-data-wrapper {
  width:90%;
}

.layout-node-form .layout-region-node-main {
  width:95%;
}

.layout-region-node-secondary {
  display:none;
}

