
.room_test_dealy,
.room-test-dealy
{
	display:block;
	float:left;
}

.room-image-div {
    color: white;
    border: 0px;
    font-size: 11px;
    position: absolute;
    opacity: 0.5;
    text-align: center;
}

.field--name-field-room-json-data {
	
}

.room_test_image { 
	margin:0px;
	padding:0px;

 }
.node--type-deck  {
	margin:0px;
	padding:0px;
}

.field--name-field-deckmap-image img {
	margin: 0px;
	padding: 0px;
}

.shape-box {
    background-color: blue;
	position:absolute;
	
}

.shape-pill {
	background-color:red;
	position:absolute;
	
}

.content .room-test-image .field--name-field-deckmap-image,
.room-test-image,
.field--name-field-deckmap-image,
.room-test-image .field--name-field-deckmap-image
 {

	padding:0px;
	margin:0px;
	margin-left:10px;

}

