/**
 * Custom CSS
 * 
 ============================================================================ */


/* May 7 start */

#block-hal-theme-content {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#block-hal-theme-content .field_label,
.node--type-landing-page .field_label
{
        font-weight: bold !important;
}

#block-hal-theme-content .field_item {
        font-weight: normal !important;
}


.paragraph--type--link-tile {

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    border-image: none;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 1px;
    color: #3a3a3a;
    cursor: pointer;
/*    display: inline-block;        */
    font-size: 0.929em;
    font-weight: normal;
    line-height: normal;
    padding: 0.75em 1.063em;
/*    padding: 0.25em 1.063em; */

} 

.toolbar-icon-system-landing-page::before {
    background-image: url("/core/themes/classy/images/core/icons/x-office-presentation.png");
}

/* May 7 end */



.block {
    margin: 0.625rem 0;
}

.link_tile {

    min-height: 250px;
    min-width: 350px;
}

#edit-field-tiles-current div.item-container  {

    height:250px;
    width:50%;
    overflow:hidden;

}

#edit-field-tiles-current div.link_tile {
    overflow:hidden;

}

#edit-field-tiles-current div.item-container img {

    width:33%;
    height:150px;

}


#edit-field-tiles-current .link_tile {

    width:33%;
    height:150px;

}

.link_tile_special {

    }

#edit-field-tiles-current div.item-container {

    overflow:hiddwn;
    padding:15px;
    margin:15px;



}


article.node--type-landing-page,
#block-paths-local-tasks,
#block-paths-content
 {
    max-width:80%;

}

#block-paths-local-tasks {
        max-height:100px;
 }


#block-paths-breadcrumbs {
    max-width:55%;
    float:left;
}


#field-tiles-values {

}

#field-tiles-values .draggable .table__row div {
    font-size: .9rem;
    line-height: .9rem;
}

#field-tiles-values div.field--widget-string-textfield {
    font-size: .8rem;
    line-height: .8rem;
}

#field-tiles-values div.field--widget-string-textfield label {
    display:none;
}

#field-tiles-values .draggable .table__row  label {
    display:none;
}

#field-tiles-values .draggable  label {
    display:none;
}

#field-tiles-values div.field--widget-string-textfield input,
#field-tiles-values div.field--widget-string-textfield textarea {
    max-width:80%;
    padding-left:10px;
    display:inline-block;
}



.three-column div.link_tile {
        max-width:30%;
}

.two-column div.link_tile {
        max-width:48%;
}


.link_tile {

}

.link_tile .field {

}



.link_tile .oneThird {
	width: 30.33%;
}

.link_tile .twoThirds {
width: 63.67%;	
}

.link_tile .half {
	width: 47%;
}

.link_tile .single {
	width: 97%;
	margin: 0 auto;
}

.link_tile .oneFourth {
	width: 22%;
}

.link_tile .oneSixth {
	width: 13.6%;
}

.link_tile .gridTiles h3 {
	padding: 100px 0;
}

.link_tile .gridTiles a {
    margin: 0px auto;
    background: #fff;
    padding: 20px;
    text-align: center;
    width: 50%;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
	text-decoration: none;
    box-shadow: 0 0 5px #888
}

.link_tile .gridTiles a:hover {
	    box-shadow: 0 0 5px #333
}


/*  just in case still needed 


#block-views-block-landing-pages-block-1 {
    max-width:15%;
    font-size: 0.8rem;
    line-height: 0.9rem;
    float:right;
}





*/








